# ======================
# Visual Studio
.vs/

# ======================
# Build output
bin/
obj/
publish/

# ======================
# NuGet packages
packages/

# ======================
# Installer & binaries
*.exe
*.dll
*.pdb
*.msi

# ======================
# Logs & temp
*.log
Thumbs.db

# ======================
# User specific
*.user
*.suo
*.cache
