<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Accounting.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Accounting.Core.Properties.Settings>
            <setting name="clientId" serializeAs="String">
                <value>   9313875e-59ca-446b-9dad-fb84db6a9d03</value>
            </setting>
            <setting name="secretKey" serializeAs="String">
                <value> Gj5nS9wyYHRadaVffz5VKB4v4wlVWyPhcJvrTD4NHtNC6UPzvQct7ipnaMX1vztop+sXgaqfI+uKPyP5dJo2V8bjOTF+9ckviSzmAAyX0G7Pw6l11mn+ar8c/NTXRk5tBNgA0XPlsDFmaLS1IHgRyOP4T605hi+vFULXpW6ErwhYN70FbnxiKlvmhGN0iDZZdnS7e4MV4xEN3Z+ZWIwOsZ8gVKOQomYA2ZgYThZXWZwgb+Ag9dztrMcXYfsHbZZm2tBfMbRxTdO7M/s5Vq3S9w==</value>
            </setting>
            <setting name="ConnectionString" serializeAs="String">
                <value>@"Data Source=.\SQLEXPRESS;
Initial Catalog=AccountingCoreDB;
Integrated Security=True";</value>
            </setting>
            <setting name="LastChequeReminderDate" serializeAs="String">
                <value />
            </setting>
        </Accounting.Core.Properties.Settings>
    </userSettings>
</configuration>